{% extends "page.html" %}
{% block subtitle %}{{ _('OAI-PMH interface') }}{% endblock %}

{% block main_content %}
    <h1>{{ _('OAI-PMH interface') }}</h1>
    {% trans %}
        <p>OAI-PMH interface for datasets and organizations.</p>
        <p>Example: <a href="/oai?verb=ListSets">/oai?verb=ListSets</a>.</p>
        <p>More information about OAI-PMH interface at <a href="http://www.openarchives.org/pmh/">http://www.openarchives.org/pmh/</a>.</p>
    {% endtrans %}
{% endblock %}
{% block sidebar %}{% endblock %}
